#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
:root {
  --primary-color: #365136;
  --secondary-color: #fc261d;
}

.circle-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.spin {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}